<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TEER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TEER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight:bold;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Disclaimer", "Index", "Disclaimer")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Train Information<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Train Information", "ViewTrainInformation", "Train")</li>
                            <li>@Html.ActionLink("Edit Train Information", "EditTrainInformation", "Train")</li>
                            <li>@Html.ActionLink("View Train Details", "ViewTrainDetails", "Train")</li>
                            <li>@Html.ActionLink("Train Details Search", "TrainDetailsSearch", "Train")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("General Order", "GeneralOrder", "Documents")</li>
                            <li>@Html.ActionLink("Operation Notice", "OperationNotice", "Documents")</li>
                            <li>@Html.ActionLink("General Notice Number", "GeneralNoticeNumber", "Documents")</li>
                            <li>@Html.ActionLink("Special Schedule", "SpecialSchedule", "Documents")</li>
                            <li>@Html.ActionLink("Crew Management System Book", "CrewManagementSystemBook", "Documents")</li>
                            <li>@Html.ActionLink("Bulletin", "Bulletin", "Documents")</li>
                            <li>@Html.ActionLink("Crew Assignment", "CrewAssignment", "Documents")</li>
                        </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Computer Information<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Computer Information", "ViewComputerInformation", "ComputerInformation")</li>
                            <li>@Html.ActionLink("View Location Details", "ViewLocationDetails", "ComputerInformation")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Daily Report", "DailyReport", "Reports")</li>
                            <li>@Html.ActionLink("Weekly Report", "WeeklyReport", "Reports")</li>
                            <li>@Html.ActionLink("Location Wise Report", "LocationWiseReport", "Reports")</li>
                            <li>@Html.ActionLink("Employee Wise Report", "EmployeeWiseReport", "Reports")</li>
                            <li>@Html.ActionLink("Custom Report", "CustomReport", "Reports")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TEER</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
